    
        <!-- Nav Bar Start -->
        <div class="nav-bar">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
                    <a href="#" class="navbar-brand">MENU</a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav mr-auto">
                            <a href="/alumni/alumniHome" class="nav-item nav-link active">Home</a>                                                              
                            <!-- <a href="" class="nav-item nav-link">jobs</a> -->
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">jobs</a>
                                <div class="dropdown-menu">
                                    <a href="/alumni/alumniJobForm" class="dropdown-item">ADD JOBS</a>
                                    <a href="/alumni/alumniViewJob" class="dropdown-item">VIEW JOBS</a>
                                </div>
                            </div>
                       
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Forum</a>
                                <div class="dropdown-menu">
                                    <a href="/alumni/alumniAddForumTopic" class="dropdown-item">ADD FORUM</a>
                                    <a href="/alumni/alumniViewMyForum" class="dropdown-item">VIEW MY FORUM</a>
                                    <a href="/alumni/alumniViewAllForum" class="dropdown-item">VIEW ALL FORUM</a>
                                </div>
                            </div>
                            <a href="/alumni/alumniViewEvents" class="nav-item nav-link">EVENTS</a>
                            <a href="/alumni/alumniViewGallery" class="nav-item nav-link">gallery</a>
                            <a href="/alumni/alumniLogout" class="nav-item nav-link">logout</a>
                            <!-- <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Pages</a> -->
                            <!-- <a href="portfolio.html" class="nav-item nav-link">forum</a>
                            <a href="contact.html" class="nav-item nav-link">gallery</a> -->
                        </div>
                        <div class="ml-auto">
                            <a class="btn" href="#">contect</a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <!-- Nav Bar End -->

